*{
  margin: 0px;
  padding: 0px;
}

/* Font Family */
body {
  font-family: 'Arial', sans-serif;
}

h1, h2, h3 {
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

/* Font Sizes */
body {
  font-size: 16px;
  line-height: 1.5;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

p {
  font-size: 16px;
}

#bodyText {
  font-family: 'Roboto', sans-serif;
  font-size: 18px; /* You can adjust this size within the 16px to 18px range */
}

#headingFont {
  font-family: 'Playfair Display', serif;
  font-size: 36px; /* You can adjust this size within the 24px to 36px range */
}

#navbarFont {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px; /* You can adjust this size within the 14px to 16px range */
}

/* Additional Styles
a {
  color: #007bff; 
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

Add more styles as needed */
